footer {
  background: $header-color;
  @include glass();
  border-radius: 0rem;
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding: 0rem 1rem;
  min-height: 8vh;
  @include flex(flex-end, center, row);
  color: white;
}
